*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    transition: all .1s linear;
}

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

@font-face {
    font-family: Lato;
    src: url(https://fonts.google.com/specimen/Lato);
}

html{
   overflow-x: hidden;
   /* scroll-padding-top: 5.5rem; */
   scroll-behavior: smooth;
}

header{
    position: relative;
    left: 0;right: 0;
    z-index: 1000;
    
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: var(--box-shadow);
    padding: 1.0rem 0;
}

.le{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

header .navbar .left >span{
    margin: 0 3px;
    

}

header .navbar .left .loc{
    color: rgb(82, 78, 78);
    font-weight: bolder;
    text-decoration: underline;
}
header .navbar .left .click{
    color: #93959f;

}
header .navbar .left .icon{
    font-size: 1.5rem;
}

header .navbar .left .loc:hover,
header .navbar .left .click:hover,
header .navbar .left .icon
{
    color: orange;

}

header .navbar ,left{
    margin-left: 10px;
}

header .navbar .right {
    display: flex;

}

header .navbar .right >div{
    display: flex;
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: lighter;
}

header .navbar .right .k1 .k2 .k3 >span{
    display: flex;
    margin-right: 5px;
}
header .navbar .right >i{
    margin:5px;

}

.le >a{
    font-size: 1.2rem;
}

.navbar .le .i{
    content: url('https://api.iconify.design/uil/swiggy.svg');
    height: 60px;
    width: 50px;

}

.mid{
    background: rgb(39, 35, 36);
    position: relative;
    /* top: 100%;left: 0;right: 0; */
    margin-top:1.2rem;
    height: 250px;
}

.middle{
    display: table;
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    color: white;

}

.middle .pic{
    display: table-cell;
    vertical-align: middle;
    max-width: 230px;
  
}
.middle .pic .picture{
    margin-top: 30px;

}
.im{
    border-radius: 0.5rem;
    width: 70%;

}

.middle .inf{
    display: table-cell;
    vertical-align: middle;

}

.middle .inf .kitch .a1>h1{
    /* line-height: 30px; */
    font-weight: lighter;
    margin: 10px 0;
}
.middle .inf .kitch .a2{
    margin:10px 0;
}

.middle .inf .kitch{
    display: flex;
    flex-direction: column;
}

.inf .rat{
    display:flex;
    /* justify-content: space-between; */
    margin-top: 25px;


}

.r1{
    padding-right: 20px;
}
.r2{
    padding-right: 20px;
    /* padding-left: 20px; */
}
.r3{
    padding-right: 20px;
    /* padding-left: 20px; */
}



.r11{
    display: flex;
    flex-direction: column;
    /* margin-right: 40px; */

}

.r4{
    font-size: 1.1rem;
}
.r5{
    font-weight: 100;
}

.middle .offer{
    display: table-cell;
    vertical-align: middle;
    max-width: 130px;
    line-height:2rem;
}

.menu{
    display: flex;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.menu .m12{
    display: flex;
    width: 902px;
}

.menu .m12 .m1{
    width: 254px;
    align-self: flex-start;
    margin-top: 21px;
    
}

.menu .m12 .categories >li{
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight:lighter;
    /* float: right; */
    display: block;
    
}
.categories a{
    color: black;
    text-decoration: none;

}
.categories a:hover,
.categories a.active{
    color: orange;
}

.menu .m3{
    margin-top: 21px;
}

.menu .m3>h1{
    font-weight: lighter;
    font-size: 1.5rem;
    color: #93959f;
}

.menu .m3 .ima{
    margin-top:35px;
}

.menu .m3 .ima .img{
    width: 100%;
    height: 212px;
    
}

.menu .good{
    color: #93959f;
    margin-top: 15px;
    font-size: 16px;
    max-width: 218px;
}

.m2 .m21{
    margin-top: 15px;
    line-height: 35px;
}

.m22 .first .l11{
    display: flex;
   
}

.m22 .first .l11>span{
    margin-right: 10px;
    color: orange;
}

.m2 .mid1{
    /* width: 648px; */
    /* flex-grow: 1; */
    padding: 30px 55px 100px;
}

.m22 .first .l2 >img{
    width:140px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;

}

.m22 .first{
    display: flex;
    height: 180px;
    margin-top: 30px;
}

.m22 .first .l2 >h1{
    font-size: 1.2rem;
    font-weight: lighter;
    color: #5c5d61;
}

.m22 .first .l1>div{
    padding: 6px 0;
}

.first .l1 .l4{
    color: #93959f;
    line-height: 1.5rem;
}

.m22>hr{
    border: .6px dotted gray;
}



